* {
  font: 20px/1.5 sans-serif;
  color: #222;
  box-sizing: border-box;
}
html {
  background: #f8f8f8;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

#preview {
  display: block;
  width: 100%;
  max-height: 50%;
  object-fit: contain;
  flex: 0 0 auto;
  position: relative;
  opacity: 1;
  filter: none;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
#preview.loading {
  opacity: 0.5;
  transition-delay: 0.2s;
}

#table-cont {
  flex: 1 1 auto;
  overflow-y: scroll;
}

/* @media (min-aspect-ratio: 4/1) {
  body {
    flex-flow: row wrap;
  }
  #table-cont {
    flex: 1 0 auto;
  }
  #preview {
    width: 25%;
    height: 100%;
    max-height: none;
  }
} */

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1500px;
}

tr.current-pv-row {
  background-color: #ddf;
  /* Prevent preview-row highlighting from being made invisible by darkmode library: */
  isolation: isolate;
}

td,
th {
  padding: 5px 10px;
  word-wrap: break-word;
}

td + td {
  border-left: 1px dashed #aaa;
}

th {
  font-weight: bold;
  position: sticky;
  top: 0;
  /* Make sure header is shown above rows, including .current-pv-row: */
  /* This is necessary because isolation: isolate; creates a stacking context. */
  z-index: 1;
}

#table-cont[data-type='animals'] th {
  background: #fca;
}

#table-cont[data-type='loot'] th {
  background: #afc;
}

.pv {
  margin-right: 5px;
}

#table-cont[data-type='loot'] .pv {
  width: 5em;
}

footer {
  flex: 0 0 auto;
  background-color: #ccc;
  padding: 3px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #aaa;
}
