* {
  font: 20px/1.5 sans-serif;
  color: #222;
  box-sizing: border-box;
}
html {
  background: #f8f8f8;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  margin: 0px;
  height: 100%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

#separator::before {
  content: '|';
}

#preview {
  display: block;
  object-fit: contain;
  flex: 0 0 auto;
  position: relative;
  opacity: 1;
  filter: none;
  transition-property: opacity, filter;
  transition-duration: 0.2s;
  transition-delay: 0s;
}
#preview.loading {
  opacity: 0.5;
  transition-delay: 0.2s;
}

#table-cont {
  flex: 1 1 auto;
  overflow: scroll;
}

#table-cont[data-type='animals'] {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

#table-cont[data-type='animals'] table {
  max-width: 100%;
}

tr.current-pv-row {
  background-color: #ddf;
}

td,
th {
  padding: 5px 10px;
  word-wrap: break-word;
}

td + td {
  border-left: 1px dashed #aaa;
}

th {
  font-weight: bold;
  position: sticky;
  top: 0;
}

#table-cont[data-type='animals'] th {
  background: #fca;
}

#table-cont[data-type='loot'] th {
  background: #afc;
}

.pv {
  margin-right: 5px;
}

#table-cont[data-type='loot'] .pv {
  width: 5em;
}

footer {
  /* flex: 0 0 auto; */
  background-color: #ccc;
  padding: 3px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #aaa;
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  body {
    grid-template-columns: 1fr 40px;
  }
  #separator::before {
    content: '⎻';
  }
  footer a {
    text-decoration: none;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1200px) {
  #preview {
    max-height: 40%;
  }
  table {
    width: 100%;
  }
  table * {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1200px) {
  #preview {
    max-height: 50%;
  }
  table {
    width: 1500px;
  }
  table * {
    font-size: 1rem;
  }
}
