:root {
  font: 16px/1.5 sans-serif;
  color: var(--black);
  box-sizing: border-box;

  --white: hsl(0, 0%, 97%);
  --grey-1: hsl(0, 0%, 95%);
  --grey-2: hsl(0, 0%, 90%);
  --grey-3: hsl(0, 0%, 80%);
  --black: hsl(0, 0%, 10%);
}

html {
  background: var(--white);
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas: '. preview .' '. table .' 'footer footer footer';
}

#preview {
  height: 100%;
  grid-area: preview;
  opacity: 1;
  filter: none;
  justify-self: center;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-delay: 0s;
}

#preview.loading {
  opacity: 0.5;
  transition-delay: 0.2s;
}

#table-cont {
  grid-area: table;
  justify-self: center;
  max-width: 100%;
  height: 100%;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  /* width: 1500px; briefly removing cuz this sux*/
}

tr.current-pv-row {
  background-color: #ddf;
  /* Prevent preview-row highlighting from being made invisible by darkmode library: */
  isolation: isolate;
}

.th-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

td,
th {
  padding: 5px 10px;
  word-wrap: break-word;
}

td + td {
  border-left: 1px dashed #aaa;
}

th {
  font-weight: bold;
  position: sticky;
  top: 0;
  /* Make sure header is shown above rows, including .current-pv-row: */
  /* This is necessary because isolation: isolate; creates a stacking context. */
  z-index: 1;
}

#table-cont[data-type='animals'] th {
  background: #fca;
}

#table-cont[data-type='loot'] th {
  background: #afc;
}

.pv {
  margin-right: 5px;
}

#table-cont[data-type='loot'] .pv {
  width: 5em;
}

footer {
  grid-area: footer;
  background-color: var(--grey-3);
  padding: 3px;
  width: 100%;
  text-align: center;
  border-top: 1px solid var(--grey-3);
}

nav > #separator {
  visibility: visible;
}

@media screen and (max-height: 400px) and (orientation: landscape) {
  main {
    grid-template-columns: unset;
    grid-template-areas: 'footer preview .' 'table table table';
  }

  #preview {
    height: 100%;
    width: 100%;
  }

  nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
  }

  nav > a {
    padding: 0.5rem;
    z-index: 2;
  }

  nav > #separator {
    visibility: collapse;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    font: 20px/1.5 sans-serif;
  }

  #preview {
    max-width: unset;
  }

  table * {
    font-size: 1rem;
  }

  #table-cont {
    border: solid 1px var(--grey-3);
    max-width: 1500px;
  }
}
